.main {
    padding: 20px;
  
    .title-container {
      width: 100%;
      display: flex;
      justify-content: center;
    
      h1 {
        color: #2371b7;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
    
    table {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  
    mat-paginator {
      margin-top: 10px;
    }
  }
  