<!-- Contenedor principal -->
<div>
  <!-- Menú visible solo cuando el usuario NO está autenticado -->
  <nav class="navigation">
    <ul>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/user" routerLinkActive="active">Perfil de Usuario</a></li>
      <li><a routerLink="/listar" routerLinkActive="active">Listar Usuarios</a></li>
    </ul>
  </nav>

  <!-- Menú de Donante, solo visible si el usuario está autenticado y es Donante -->
  <div>
    <app-menu (onToggleMenuNav)="onToggleMenuNav($event)"></app-menu>
  </div>

  <!-- Menú de Organización, solo visible si el usuario está autenticado y es Organización -->
  <div>
    <app-sidenav (onToggleMenuNav)="onToggleMenuNav($event)"></app-sidenav>
  <app-structure
        [collapsed]="isMenuNavCollapsed"
        [screenWidth]="screenWidth">
  </app-structure>
  </div>
</div>

<router-outlet></router-outlet>