<h1>Inicio</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - inicio de donante</div>
    <div class="card-body">
        En la actualidad, adquirir productos básicos es esencial para la vida diaria, pero no todos tienen la liquidez inmediata para hacerlo. 
        Por ello, los créditos ofrecidos por negocios locales, como serían las bodegas o tiendas, son cruciales para facilitar el acceso a estos bienes esenciales. 
        Estos créditos no solo fortalecen la relación de confianza entre el negocio y sus clientes, sino que también promueven la lealtad y el compromiso. 
    </div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum - inicio de donante</div>
    <div class="card-body">
        En la actualidad, adquirir productos básicos es esencial para la vida diaria, pero no todos tienen la liquidez inmediata para hacerlo. 
        Por ello, los créditos ofrecidos por negocios locales, como serían las bodegas o tiendas, son cruciales para facilitar el acceso a estos bienes esenciales. 
        Estos créditos no solo fortalecen la relación de confianza entre el negocio y sus clientes, sino que también promueven la lealtad y el compromiso. 
    </div>
</div>